In [2]:
!pip install citipy
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import scipy.stats as st
# Import API key
from api_keys import g_key

Requirement already satisfied: citipy in c:\users\danie\anaconda3\lib\site-packages (0.0.5)
Requirement already satisfied: kdtree>=0.12 in c:\users\danie\anaconda3\lib\site-packages (from citipy) (0.16)

C:\Users\danie\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
url= 'http://cluebase.lukelav.in/contestants?limit=1000&order_by=total_winnings&sort=desc'

In [4]:
response = requests.get(url)
response_json= response.json()
data=response_json['data']
data

[{'id': 208,
  'name': 'Ken Jennings',
  'notes': 'a software engineer from Salt Lake City, Utah',
  'games_played': 94,
  'total_winnings': 2522700},
 {'id': 75,
  'name': 'James Holzhauer',
  'notes': 'a professional sports gambler from Las Vegas, Nevada',
  'games_played': 33,
  'total_winnings': 2464216},
 {'id': 204,
  'name': 'David Madden',
  'notes': 'a student originally from Ridgewood, New Jersey',
  'games_played': 29,
  'total_winnings': 432400},
 {'id': 220,
  'name': 'Julia Collins',
  'notes': 'a supply chain professional from Kenilworth, Illinois',
  'games_played': 32,
  'total_winnings': 429100},
 {'id': 209,
  'name': 'Matt Jackson',
  'notes': 'a paralegal from Washington, D.C.',
  'games_played': 27,
  'total_winnings': 413612},
 {'id': 214,
  'name': 'Austin Rogers',
  'notes': 'a bartender from New York, New York',
  'games_played': 26,
  'total_winnings': 413000},
 {'id': 2117,
  'name': 'Arthur Chu',
  'notes': 'a compliance analyst and voiceover artist from Broadview Heights, Ohio',
  'games_played': 16,
  'total_winnings': 298200},
 {'id': 219,
  'name': 'Seth Wilson',
  'notes': 'a Ph.D. candidate from Chicago, Illinois',
  'games_played': 21,
  'total_winnings': 267002},
 {'id': 2364,
  'name': 'Tom Nissley',
  'notes': 'an online books editor from Seattle, Washington',
  'games_played': 14,
  'total_winnings': 236405},
 {'id': 213,
  'name': 'Roger Craig',
  'notes': 'a graduate student of computer science from Newark, Delaware',
  'games_played': 25,
  'total_winnings': 231200},
 {'id': 206,
  'name': 'Larissa Kelly',
  'notes': 'a grad student from El Cerrito, California',
  'games_played': 19,
  'total_winnings': 223597},
 {'id': 2845,
  'name': 'Jason Keller',
  'notes': 'a tutor from Highland Park, New Jersey',
  'games_played': 12,
  'total_winnings': 215900},
 {'id': 3407,
  'name': 'Joon Pahk',
  'notes': 'a college physics teacher from Somerville, Massachusetts',
  'games_played': 10,
  'total_winnings': 201000},
 {'id': 6172,
  'name': 'Brian Weikle',
  'notes': 'a project manager from Minneapolis, Minnesota',
  'games_played': 10,
  'total_winnings': 187199},
 {'id': 6187,
  'name': 'Tom Walsh',
  'notes': 'a writer from Washington, D.C.',
  'games_played': 13,
  'total_winnings': 186900},
 {'id': 2123,
  'name': 'Jared Hall',
  'notes': 'a graduate student in global policy studies from Austin, Texas',
  'games_played': 9,
  'total_winnings': 182001},
 {'id': 1684,
  'name': 'Greg Seroka',
  'notes': 'a chef from Steamboat Springs, Colorado',
  'games_played': 9,
  'total_winnings': 181401},
 {'id': 221,
  'name': 'Ben Ingram',
  'notes': 'an IT consultant originally from Florence, South Carolina',
  'games_played': 20,
  'total_winnings': 177534},
 {'id': 802,
  'name': 'Andrew Pau',
  'notes': 'an assistant professor from Amherst, Ohio',
  'games_played': 9,
  'total_winnings': 172202},
 {'id': 2314,
  'name': 'Dan Pawson',
  'notes': 'a legislative aide from Boston, Massachusetts',
  'games_played': 16,
  'total_winnings': 171902},
 {'id': 217,
  'name': 'Buzzy Cohen',
  'notes': 'a music executive from Los Angeles, California',
  'games_played': 21,
  'total_winnings': 166603},
 {'id': 540,
  'name': 'Josh Hill',
  'notes': 'a network engineer from North Little Rock, Arkansas',
  'games_played': 8,
  'total_winnings': 164721},
 {'id': 16,
  'name': 'Sam Kavanaugh',
  'notes': 'a teacher from Minneapolis, Minnesota',
  'games_played': 6,
  'total_winnings': 157202},
 {'id': 4015,
  'name': 'Justin Bernbach',
  'notes': 'a lobbyist from Brooklyn, New York',
  'games_played': 10,
  'total_winnings': 157001},
 {'id': 3408,
  'name': 'Mark Runsvold',
  'notes': 'a student and waiter from Moscow, Idaho',
  'games_played': 7,
  'total_winnings': 154800},
 {'id': 216,
  'name': 'Alex Jacob',
  'notes': 'a currency trader from Chicago, Illinois',
  'games_played': 18,
  'total_winnings': 151802},
 {'id': 2362,
  'name': 'Stephanie Jass',
  'notes': 'a history professor from Milan, Michigan',
  'games_played': 11,
  'total_winnings': 149570},
 {'id': 4013,
  'name': 'Jason Zollinger',
  'notes': 'an engine assembler from South Dayton, New York',
  'games_played': 11,
  'total_winnings': 149404},
 {'id': 2357,
  'name': 'Keith Whitener',
  'notes': 'a research chemist originally from Charlotte, North Carolina',
  'games_played': 13,
  'total_winnings': 148597},
 {'id': 4027,
  'name': 'Michael McKean',
  'notes': 'an actor and comic from Uncomfortably Close with Michael McKean',
  'games_played': 6,
  'total_winnings': 147700},
 {'id': 808,
  'name': 'Hunter Appler',
  'notes': 'an attorney originally from Mount Airy, North Carolina',
  'games_played': 8,
  'total_winnings': 147603},
 {'id': 1674,
  'name': 'Kerry Greene',
  'notes': 'a volunteer guardian ad litem from Manchester, New Hampshire',
  'games_played': 11,
  'total_winnings': 147598},
 {'id': 431,
  'name': 'Kyle Jones',
  'notes': 'a music teacher from Aurora, Colorado',
  'games_played': 8,
  'total_winnings': 147403},
 {'id': 2360,
  'name': 'Tom Kavanaugh',
  'notes': 'a writer from St. Louis, Missouri',
  'games_played': 11,
  'total_winnings': 144602},
 {'id': 4514,
  'name': 'Mark Wales',
  'notes': 'a substitute teacher from Amherst, New York',
  'games_played': 8,
  'total_winnings': 142804},
 {'id': 4522,
  'name': 'Jim Stevens',
  'notes': 'a math teacher from Fairview Park, Ohio',
  'games_played': 8,
  'total_winnings': 142600},
 {'id': 2119,
  'name': 'Sandie Baker',
  'notes': 'a translation coordinator from Eastpointe, Michigan',
  'games_played': 9,
  'total_winnings': 142200},
 {'id': 801,
  'name': 'Lisa Schlitt',
  'notes': 'a microbiologist from Berwyn, Pennsylvania',
  'games_played': 9,
  'total_winnings': 141100},
 {'id': 2127,
  'name': 'Andrew Moore',
  'notes': 'a test prep instructor from Buford, Georgia',
  'games_played': 8,
  'total_winnings': 139803},
 {'id': 2124,
  'name': 'Drew Horwood',
  'notes': 'a business analyst from Minneapolis, Minnesota',
  'games_played': 10,
  'total_winnings': 139100},
 {'id': 798,
  'name': 'Pranjal Vachaspati',
  'notes': 'a Ph.D. student originally from Shaker Heights, Ohio',
  'games_played': 9,
  'total_winnings': 139088},
 {'id': 6437,
  'name': 'Arthur Gandolfi',
  'notes': 'a commercial real estate executive from New York, New York',
  'games_played': 9,
  'total_winnings': 138300},
 {'id': 1,
  'name': 'Jason Zuffranieri',
  'notes': 'a math teacher from Albuquerque, New Mexico',
  'games_played': 6,
  'total_winnings': 137300},
 {'id': 4020,
  'name': 'Dave Belote',
  'notes': ' the base commander from Nellis Air Force Base, Las Vegas',
  'games_played': 8,
  'total_winnings': 136801},
 {'id': 3411,
  'name': 'Justin Sausville',
  'notes': 'a urologist from Baltimore, Maryland',
  'games_played': 9,
  'total_winnings': 136000},
 {'id': 662,
  'name': 'Rob Worman',
  'notes': 'an escalation manager from Edina, Minnesota',
  'games_played': 7,
  'total_winnings': 134900},
 {'id': 3416,
  'name': 'Tom Kunzen',
  'notes': 'a geotechnical engineer from Orlando, Florida',
  'games_played': 7,
  'total_winnings': 134402},
 {'id': 3409,
  'name': 'Jay Rhee',
  'notes': 'an oncologist from Annapolis, Maryland',
  'games_played': 9,
  'total_winnings': 130804},
 {'id': 5127,
  'name': 'Mehrun Etebari',
  'notes': 'a grad student from Durham, New Hampshire',
  'games_played': 7,
  'total_winnings': 130100},
 {'id': 4513,
  'name': 'Aaron Schroeder',
  'notes': 'a graduate student originally from Washington, D.C.',
  'games_played': 10,
  'total_winnings': 129902},
 {'id': 1680,
  'name': 'Dan Feitel',
  'notes': 'an attorney originally from Gillette, New Jersey',
  'games_played': 8,
  'total_winnings': 128998},
 {'id': 1677,
  'name': 'Brennan Bushee',
  'notes': 'an operations analyst from Malden, Massachusetts',
  'games_played': 8,
  'total_winnings': 128404},
 {'id': 2427,
  'name': 'Jerome Vered',
  'notes': 'a writer from Studio City, California',
  'games_played': 18,
  'total_winnings': 127002},
 {'id': 5123,
  'name': 'Andrew Rostan',
  'notes': 'a student originally from Boardman, Ohio',
  'games_played': 7,
  'total_winnings': 126500},
 {'id': 6182,
  'name': 'Sean Ryan',
  'notes': 'a taxi driver, bartender and student from State College, Pennsylvania',
  'games_played': 9,
  'total_winnings': 125797},
 {'id': 201,
  'name': 'Alan Lin',
  'notes': 'a software engineer from Santa Barbara, California',
  'games_played': 20,
  'total_winnings': 125600},
 {'id': 6152,
  'name': 'Chris Miller',
  'notes': 'a retail specialist from Louisville, Kentucky',
  'games_played': 13,
  'total_winnings': 125597},
 {'id': 2356,
  'name': 'Maria Wenglinsky',
  'notes': 'a teacher originally from Salt Lake City, Utah',
  'games_played': 9,
  'total_winnings': 124300},
 {'id': 4019,
  'name': 'Terry Linwood',
  'notes': 'a bookseller from Plano, Texas',
  'games_played': 8,
  'total_winnings': 123705},
 {'id': 4017,
  'name': 'Liz Murphy',
  'notes': 'a foreign service officer originally from Scranton, Pennsylvania',
  'games_played': 8,
  'total_winnings': 123302},
 {'id': 5118,
  'name': 'Paul Glaser',
  'notes': 'a research scientist from Albany, New York',
  'games_played': 8,
  'total_winnings': 122802},
 {'id': 391,
  'name': 'Alan Dunn',
  'notes': 'a software development manager from Johns Creek, Georgia',
  'games_played': 6,
  'total_winnings': 122802},
 {'id': 2477,
  'name': 'Jerry Slowik',
  'notes': 'a writer from Arlington Heights, Illinois',
  'games_played': 6,
  'total_winnings': 122800},
 {'id': 6173,
  'name': 'John Beck',
  'notes': 'a copywriter from Torrance, California',
  'games_played': 8,
  'total_winnings': 118099},
 {'id': 4516,
  'name': 'Cora Peck',
  'notes': 'a teacher and graduate student from Aliso Viejo, California',
  'games_played': 8,
  'total_winnings': 117803},
 {'id': 2853,
  'name': 'Joel Pool',
  'notes': 'a real estate developer from Oakland, California',
  'games_played': 8,
  'total_winnings': 117800},
 {'id': 5128,
  'name': 'Cathy Lanctot',
  'notes': 'a law professor from Wilmington, Delaware',
  'games_played': 7,
  'total_winnings': 117102},
 {'id': 5117,
  'name': 'Craig Westphal',
  'notes': 'a paramedic from Tucson, Arizona',
  'games_played': 8,
  'total_winnings': 116601},
 {'id': 2854,
  'name': 'David Menchaca',
  'notes': 'a law student originally from Long Beach, California',
  'games_played': 7,
  'total_winnings': 116503},
 {'id': 156,
  'name': 'Steven Grade',
  'notes': 'a sports industry consultant from Atlanta, Georgia',
  'games_played': 6,
  'total_winnings': 116501},
 {'id': 4515,
  'name': 'Ben Bishop',
  'notes': 'a student originally from Seattle, Washington',
  'games_played': 7,
  'total_winnings': 115800},
 {'id': 6443,
  'name': 'Scott Renzoni',
  'notes': 'a bartender and actor from Burlington, Vermont',
  'games_played': 6,
  'total_winnings': 114998},
 {'id': 2120,
  'name': 'Mark Japinga',
  'notes': 'a legislative researcher from Washington, D.C.',
  'games_played': 7,
  'total_winnings': 113600},
 {'id': 4475,
  'name': 'Kevin Joyce',
  'notes': 'a customer service representative from Leominster, Massachusetts',
  'games_played': 4,
  'total_winnings': 113299},
 {'id': 804,
  'name': 'Justin Vossler',
  'notes': 'a high school history teacher from Homer, New York',
  'games_played': 7,
  'total_winnings': 112000},
 {'id': 3414,
  'name': 'Paul Kursky',
  'notes': 'a copywriter from San Francisco, California',
  'games_played': 7,
  'total_winnings': 110411},
 {'id': 4577,
  'name': 'Jack Feerick',
  'notes': 'a freelance writer from Churchville, New York',
  'games_played': 4,
  'total_winnings': 110200},
 {'id': 5125,
  'name': 'Steve Unite',
  'notes': 'a writer from Studio City, California',
  'games_played': 7,
  'total_winnings': 109605},
 {'id': 799,
  'name': 'Tim Aten',
  'notes': 'an editor from Vermilion, Ohio',
  'games_played': 10,
  'total_winnings': 109499},
 {'id': 26,
  'name': 'Ryan Bilger',
  'notes': 'a student from Macungie, Pennsylvania',
  'games_played': 5,
  'total_winnings': 109049},
 {'id': 1681,
  'name': 'Scott Lord',
  'notes': 'a construction attorney from Santa Monica, California',
  'games_played': 7,
  'total_winnings': 109002},
 {'id': 1546,
  'name': 'Tim Kutz',
  'notes': 'a data conversion manager from Ogden, Utah',
  'games_played': 5,
  'total_winnings': 109000},
 {'id': 226,
  'name': 'Eric R. Backes',
  'notes': 'an attorney and government relations professional from Round Rock, Texas',
  'games_played': 5,
  'total_winnings': 107602},
 {'id': 6441,
  'name': 'Seth Alcorn',
  'notes': 'a bookseller from Placentia, California',
  'games_played': 6,
  'total_winnings': 107400},
 {'id': 3415,
  'name': 'John Krizel',
  'notes': 'a green community program coordinator from Beckley, West Virginia',
  'games_played': 6,
  'total_winnings': 107204},
 {'id': 5119,
  'name': 'Christian Haines',
  'notes': 'a Congressional special assistant from Newport News, Virginia',
  'games_played': 7,
  'total_winnings': 107000},
 {'id': 805,
  'name': 'Jon Eisenman',
  'notes': 'an attorney from Los Angeles, California',
  'games_played': 7,
  'total_winnings': 105902},
 {'id': 1186,
  'name': 'Cindy Stowell',
  'notes': 'a science content developer from Austin, Texas',
  'games_played': 7,
  'total_winnings': 105803},
 {'id': 1679,
  'name': 'John Schultz',
  'notes': 'a computer programmer from Ann Arbor, Michigan',
  'games_played': 8,
  'total_winnings': 105500},
 {'id': 270,
  'name': 'Anneke Garcia',
  'notes': 'an instructional design consultant from Salt Lake City, Utah',
  'games_played': 5,
  'total_winnings': 105497},
 {'id': 3654,
  'name': 'Megan Barnes',
  'notes': 'a stay-at-home mother from Baltimore, Maryland',
  'games_played': 4,
  'total_winnings': 105203},
 {'id': 5120,
  'name': 'Jeff Spoeri',
  'notes': 'a university administrator from Boynton Beach, Florida',
  'games_played': 8,
  'total_winnings': 105103},
 {'id': 2721,
  'name': 'Mike Lewis',
  'notes': 'a systems engineer from Bloomington, Minnesota',
  'games_played': 5,
  'total_winnings': 104800},
 {'id': 6438,
  'name': 'Tom Baker',
  'notes': 'a writer from Tokyo, Japan',
  'games_played': 6,
  'total_winnings': 104300},
 {'id': 2118,
  'name': 'Joshua Brakhage',
  'notes': 'a TV news producer originally from South Coffeyville, Oklahoma',
  'games_played': 8,
  'total_winnings': 104205},
 {'id': 1678,
  'name': 'Vaughn Winchell',
  'notes': 'a stay-at-home dad and graduate student from Columbia, Maryland',
  'games_played': 8,
  'total_winnings': 104103},
 {'id': 4691,
  'name': 'David Skaar',
  'notes': 'a research scientist from Raleigh, North Carolina',
  'games_played': 4,
  'total_winnings': 104000},
 {'id': 2430,
  'name': 'Frank Spangenberg',
  'notes': 'a police officer from Flushing, New York',
  'games_played': 17,
  'total_winnings': 103597},
 {'id': 176,
  'name': 'Lindsey Shultz',
  'notes': 'a physician and health care analyst from Pittsburgh, Pennsylvania',
  'games_played': 5,
  'total_winnings': 103002},
 {'id': 2121,
  'name': 'Rebecca Rider',
  'notes': 'an office supply sales assistant from Fresh Meadows, New York',
  'games_played': 8,
  'total_winnings': 102600},
 {'id': 5745,
  'name': 'Jason Richards',
  'notes': 'a pharmacy technician from Old Town, Maine',
  'games_played': 7,
  'total_winnings': 101200},
 {'id': 326,
  'name': 'Dave Leffler',
  'notes': 'a retired police officer from Pittsburgh, Pennsylvania',
  'games_played': 5,
  'total_winnings': 101102},
 {'id': 2310,
  'name': 'Chuck Forrest',
  'notes': 'a student from Grand Blanc, Michigan',
  'games_played': 16,
  'total_winnings': 100400},
 {'id': 5746,
  'name': 'Kevin Marshall',
  'notes': 'a student from Metairie, Louisiana',
  'games_played': 9,
  'total_winnings': 100201},
 {'id': 2848,
  'name': 'Dave Leach',
  'notes': 'a software analyst from Atlanta, Georgia',
  'games_played': 9,
  'total_winnings': 100054},
 {'id': 6997,
  'name': 'Eric Floyd',
  'notes': 'a college student from Calhoun, Georgia',
  'games_played': 9,
  'total_winnings': 99800},
 {'id': 2395,
  'name': 'Dave Abbott',
  'notes': 'a musician and contract manager from Cincinnati, Ohio',
  'games_played': 11,
  'total_winnings': 98699},
 {'id': 4024,
  'name': 'Stephen Weingarten',
  'notes': 'a paraeducator from Portland, Oregon',
  'games_played': 6,
  'total_winnings': 98690},
 {'id': 1675,
  'name': 'Andrew Haringer',
  'notes': 'a college instructor from Squamish, British Columbia, Canada',
  'games_played': 8,
  'total_winnings': 98599},
 {'id': 69,
  'name': 'Emma Boettcher',
  'notes': 'a user experience librarian from Chicago, Illinois',
  'games_played': 4,
  'total_winnings': 98002},
 {'id': 1512,
  'name': 'Philip Tiu',
  'notes': 'an educator from Atlanta, Georgia',
  'games_played': 4,
  'total_winnings': 97598},
 {'id': 1676,
  'name': 'Catherine Hardee',
  'notes': 'a hotel front desk clerk and recent college graduate from Kinston, North Carolina',
  'games_played': 7,
  'total_winnings': 97201},
 {'id': 1682,
  'name': 'Michael Bilow',
  'notes': 'a Ph.D. student in computer science originally from Chicago, Illinois',
  'games_played': 5,
  'total_winnings': 97000},
 {'id': 3413,
  'name': 'Christopher Short',
  'notes': 'a pub trivia editor from Crawfordsville, Indiana',
  'games_played': 8,
  'total_winnings': 96752},
 {'id': 4521,
  'name': 'Erik Nelson',
  'notes': 'a graduate student from Boston, Massachusetts',
  'games_played': 6,
  'total_winnings': 96404},
 {'id': 1685,
  'name': 'Kristin Sausville',
  'notes': 'a stay-at-home mom from Newark, Delaware',
  'games_played': 7,
  'total_winnings': 95201},
 {'id': 401,
  'name': 'Alex Schmidt',
  'notes': 'a writer and comedian from Pasadena, California',
  'games_played': 5,
  'total_winnings': 94880},
 {'id': 284,
  'name': 'Jonathan Dinerstein',
  'notes': 'a composer from Los Angeles, California',
  'games_played': 5,
  'total_winnings': 94301},
 {'id': 262,
  'name': 'John Presloid',
  'notes': 'a microbiologist from Perrysburg, Ohio',
  'games_played': 5,
  'total_winnings': 94200},
 {'id': 4025,
  'name': 'Ryan Chaffee',
  'notes': 'a tutor from Los Angeles, California',
  'games_played': 6,
  'total_winnings': 92900},
 {'id': 205,
  'name': 'Brad Rutter',
  'notes': 'a college student from Lancaster, Pennsylvania',
  'games_played': 34,
  'total_winnings': 92603},
 {'id': 3417,
  'name': 'Brian Meacham',
  'notes': 'a film preservationist originally from Anchorage, Alaska',
  'games_played': 6,
  'total_winnings': 92500},
 {'id': 4334,
  'name': 'Andy Richter',
  'notes': " from NBC's Late Night With Conan O'Brien",
  'games_played': 2,
  'total_winnings': 92400},
 {'id': 5750,
  'name': 'Kerry Breitenbach',
  'notes': 'a marketing analyst from South Euclid, Ohio',
  'games_played': 7,
  'total_winnings': 92400},
 {'id': 7001,
  'name': 'Jason McCune',
  'notes': 'an actor originally from Jasper, Indiana',
  'games_played': 6,
  'total_winnings': 92041},
 {'id': 4023,
  'name': 'Regina Robbins',
  'notes': 'an arts teacher from New York, New York',
  'games_played': 6,
  'total_winnings': 91700},
 {'id': 2125,
  'name': 'Sarah McNitt',
  'notes': 'a study-abroad advisor originally from Ann Arbor, Michigan',
  'games_played': 7,
  'total_winnings': 91398},
 {'id': 461,
  'name': 'Ryan Fenster',
  'notes': 'a banker from SeaTac, Washington',
  'games_played': 9,
  'total_winnings': 91198},
 {'id': 6251,
  'name': 'Sandra Gore',
  'notes': 'a researcher originally from Boston, Massachusetts',
  'games_played': 10,
  'total_winnings': 91108},
 {'id': 42,
  'name': 'Avi Gupta',
  'notes': 'a senior from Portland, Oregon',
  'games_played': 4,
  'total_winnings': 90999},
 {'id': 4517,
  'name': 'Dave Simpson',
  'notes': 'a pastor from Belcamp, Maryland',
  'games_played': 7,
  'total_winnings': 90901},
 {'id': 2515,
  'name': 'Carlos Ross',
  'notes': 'a customer service representative from Austin, Texas',
  'games_played': 4,

In [5]:
desc=[]
winnings=[]
games=[]
name=[]
for each in data:
    desc.append(each['notes'])
    winnings.append(each['total_winnings'])
    games.append(each['games_played'])
    name.append(each['name'])
winnings

[2522700,
 2464216,
 432400,
 429100,
 413612,
 413000,
 298200,
 267002,
 236405,
 231200,
 223597,
 215900,
 201000,
 187199,
 186900,
 182001,
 181401,
 177534,
 172202,
 171902,
 166603,
 164721,
 157202,
 157001,
 154800,
 151802,
 149570,
 149404,
 148597,
 147700,
 147603,
 147598,
 147403,
 144602,
 142804,
 142600,
 142200,
 141100,
 139803,
 139100,
 139088,
 138300,
 137300,
 136801,
 136000,
 134900,
 134402,
 130804,
 130100,
 129902,
 128998,
 128404,
 127002,
 126500,
 125797,
 125600,
 125597,
 124300,
 123705,
 123302,
 122802,
 122802,
 122800,
 118099,
 117803,
 117800,
 117102,
 116601,
 116503,
 116501,
 115800,
 114998,
 113600,
 113299,
 112000,
 110411,
 110200,
 109605,
 109499,
 109049,
 109002,
 109000,
 107602,
 107400,
 107204,
 107000,
 105902,
 105803,
 105500,
 105497,
 105203,
 105103,
 104800,
 104300,
 104205,
 104103,
 104000,
 103597,
 103002,
 102600,
 101200,
 101102,
 100400,
 100201,
 100054,
 99800,
 98699,
 98690,
 98599,
 98002,
 97598,
 97201,
 97000,
 96752,
 96404,
 95201,
 94880,
 94301,
 94200,
 92900,
 92603,
 92500,
 92400,
 92400,
 92041,
 91700,
 91398,
 91198,
 91108,
 90999,
 90901,
 90774,
 90500,
 89804,
 89299,
 88500,
 88089,
 87601,
 87299,
 87200,
 87102,
 87100,
 86900,
 86870,
 86600,
 86600,
 86400,
 86201,
 86100,
 86099,
 86003,
 85700,
 85601,
 85500,
 85402,
 85401,
 85100,
 84901,
 84601,
 84500,
 84400,
 84002,
 83901,
 83405,
 83403,
 82800,
 82701,
 82101,
 81796,
 81402,
 80895,
 80600,
 80501,
 80401,
 80401,
 80399,
 80000,
 79803,
 79400,
 79202,
 78597,
 78400,
 78202,
 77999,
 77998,
 77600,
 77403,
 77299,
 77204,
 77191,
 77100,
 77000,
 76999,
 76802,
 76802,
 76399,
 76102,
 76099,
 75800,
 75000,
 74701,
 74601,
 74600,
 74583,
 74402,
 74040,
 74002,
 74002,
 73801,
 73604,
 73400,
 73101,
 72799,
 72799,
 72600,
 72542,
 72401,
 72002,
 71901,
 71601,
 71600,
 71401,
 71400,
 71400,
 71150,
 71098,
 71002,
 70803,
 70802,
 70800,
 70703,
 70701,
 70701,
 70485,
 70401,
 70201,
 70200,
 70128,
 70002,
 69901,
 69801,
 69801,
 69800,
 69800,
 69602,
 69401,
 68802,
 68801,
 68700,
 68602,
 68602,
 68500,
 68401,
 68202,
 68195,
 68102,
 68101,
 68100,
 68100,
 67981,
 67900,
 67900,
 67899,
 67802,
 67700,
 67600,
 67402,
 67400,
 67400,
 67202,
 67000,
 66701,
 66601,
 66600,
 66401,
 66401,
 66202,
 66100,
 66002,
 66002,
 65800,
 65601,
 65600,
 65500,
 65003,
 65000,
 65000,
 64900,
 64802,
 64800,
 64705,
 64700,
 64503,
 64500,
 64402,
 64401,
 64401,
 64301,
 64210,
 64201,
 64101,
 64001,
 64000,
 63700,
 63601,
 63402,
 63401,
 63399,
 63300,
 63300,
 63001,
 63001,
 63000,
 63000,
 62800,
 62798,
 62402,
 62401,
 62301,
 62300,
 62265,
 62000,
 61990,
 61801,
 61800,
 61800,
 61500,
 61402,
 61198,
 61112,
 61101,
 61000,
 60902,
 60802,
 60801,
 60801,
 60801,
 60801,
 60800,
 60700,
 60600,
 60402,
 60402,
 60401,
 60302,
 60200,
 60200,
 60099,
 60000,
 60000,
 59802,
 59800,
 59799,
 59611,
 59600,
 59586,
 59400,
 59300,
 59203,
 59000,
 58900,
 58900,
 58899,
 58800,
 58800,
 58601,
 58599,
 58501,
 58402,
 58300,
 58202,
 58201,
 58201,
 58200,
 58101,
 58004,
 58002,
 58001,
 58001,
 58001,
 58000,
 58000,
 57801,
 57800,
 57700,
 57700,
 57700,
 57700,
 57602,
 57600,
 57401,
 57201,
 57200,
 57100,
 57100,
 57022,
 57000,
 57000,
 57000,
 56989,
 56901,
 56900,
 56800,
 56799,
 56600,
 56599,
 56500,
 56401,
 56201,
 56100,
 56100,
 56100,
 56002,
 56001,
 56000,
 55999,
 55901,
 55900,
 55801,
 55800,
 55603,
 55600,
 55599,
 55499,
 55402,
 55300,
 55299,
 55202,
 55023,
 54999,
 54999,
 54801,
 54800,
 54799,
 54602,
 54602,
 54601,
 54600,
 54599,
 54400,
 54400,
 54399,
 54259,
 54030,
 54002,
 54000,
 54000,
 53999,
 53801,
 53801,
 53800,
 53688,
 53402,
 53301,
 53203,
 53200,
 53196,
 53102,
 53100,
 53001,
 53000,
 53000,
 53000,
 52998,
 52800,
 52602,
 52601,
 52600,
 52600,
 52600,
 52598,
 52402,
 52312,
 52302,
 52301,
 52203,
 52201,
 52200,
 52200,
 52200,
 52002,
 52001,
 52001,
 52001,
 52000,
 51801,
 51800,
 51703,
 51624,
 51602,
 51600,
 51501,
 51403,
 51400,
 51400,
 51201,
 51062,
 51000,
 50900,
 50804,
 50802,
 50800,
 50800,
 50799,
 50702,
 50700,
 50700,
 50600,
 50500,
 50402,
 50202,
 50201,
 50200,
 50101,
 50002,
 49801,
 49602,
 49401,
 49400,
 49400,
 49350,
 49301,
 49203,
 49200,
 49199,
 49000,
 49000,
 48903,
 48900,
 48800,
 48700,
 48693,
 48680,
 48601,
 48600,
 48600,
 48501,
 48402,
 48402,
 48400,
 48300,
 48101,
 48100,
 48001,
 47802,
 47802,
 47800,
 47700,
 47602,
 47602,
 47600,
 47500,
 47499,
 47399,
 47303,
 47300,
 47242,
 47200,
 47200,
 47002,
 47000,
 47000,
 46994,
 46901,
 46900,
 46900,
 46803,
 46800,
 46800,
 46800,
 46800,
 46799,
 46601,
 46600,
 46411,
 46400,
 46301,
 46202,
 46202,
 46200,
 46200,
 46200,
 46200,
 46200,
 46100,
 46001,
 46000,
 45802,
 45802,
 45801,
 45701,
 45402,
 45401,
 45302,
 45201,
 45200,
 45200,
 45000,
 44999,
 44900,
 44802,
 44800,
 44800,
 44800,
 44800,
 44800,
 44701,
 44601,
 44601,
 44601,
 44600,
 44599,
 44500,
 44402,
 44401,
 44400,
 44400,
 44300,
 44300,
 44300,
 44300,
 44202,
 44200,
 44001,
 44000,
 44000,
 44000,
 43950,
 43801,
 43800,
 43799,
 43706,
 43701,
 43701,
 43701,
 43699,
 43600,
 43500,
 43498,
 43402,
 43400,
 43399,
 43398,
 43300,
 43201,
 43201,
 43201,
 43199,
 43100,
 43002,
 43002,
 43001,
 43000,
 42952,
 42901,
 42900,
 42790,
 42600,
 42600,
 42600,
 42600,
 42500,
 42402,
 42401,
 42401,
 42400,
 42380,
 42300,
 42200,
 42101,
 42101,
 42101,
 42002,
 42000,
 42000,
 42000,
 42000,
 41900,
 41823,
 41801,
 41601,
 41599,
 41200,
 41200,
 41200,
 41100,
 41100,
 41003,
 41002,
 41000,
 41000,
 41000,
 40999,
 40898,
 40801,
 40801,
 40800,
 40800,
 40788,
 40750,
 40700,
 40700,
 40699,
 40600,
 40600,
 40403,
 40402,
 40399,
 40399,
 40201,
 40200,
 40200,
 40200,
 40200,
 40001,
 40000,
 39800,
 39799,
 39701,
 39599,
 39599,
 39501,
 39401,
 39401,
 39400,
 39200,
 39025,
 39000,
 39000,
 39000,
 38899,
 38882,
 38810,
 38801,
 38800,
 38798,
 38601,
 38601,
 38567,
 38500,
 38500,
 38401,
 38400,
 38400,
 38400,
 38400,
 38400,
 38300,
 38201,
 38200,
 38200,
 38199,
 38100,
 38001,
 38000,
 38000,
 37999,
 37998,
 37998,
 37900,
 37897,
 37802,
 37800,
 37800,
 37701,
 37700,
 37601,
 37601,
 37601,
 37600,
 37401,
 37401,
 37400,
 37400,
 37400,
 37201,
 37200,
 37200,
 37100,
 37038,
 36900,
 36800,
 36800,
 36800,
 36701,
 36701,
 36700,
 36700,
 36600,
 36600,
 36599,
 36401,
 36401,
 36401,
 36400,
 36200,
 36197,
 36100,
 36001,
 36000,
 36000,
 35900,
 35851,
 35839,
 35800,
 35798,
 35702,
 35602,
 35601,
 35601,
 35600,
 35599,
 35551,
 35500,
 35500,
 35401,
 35401,
 35400,
 35400,
 35400,
 35333,
 35300,
 35201,
 35200,
 35200,
 35200,
 35200,
 35200,
 35101,
 35100,
 35063,
 35000,
 35000,
 34950,
 34900,
 34801,
 34801,
 34800,
 34800,
 34800,
 34800,
 34700,
 34601,
 34601,
 34600,
 34599,
 34500,
 34402,
 34402,
 34402,
 34401,
 34400,
 34400,
 34400,
 34399,
 34300,
 34202,
 34201,
 34200,
 34200,
 34200,
 34200,
 34200,
 34200,
 34199,
 34002,
 34001,
 34000,
 34000,
 33901,
 33901,
 33900,
 33801,
 33800,
 33799,
 33799,
 33701,
 33700,
 33700,
 33601,
 33601,
 33600,
 33600,
 33598,
 33501,
 33500,
 33500,
 33401,
 33401,
 33401,
 33400,
 33400,
 33300,
 33201,
 33200,
 33200,
 33200,
 33200,
 33200,
 33185,
 33100,
 33003,
 33001,
 33000,
 33000,
 33000,
 32999,
 32988,
 32900,
 32900,
 32802,
 32801,
 32801,
 32801,
 32801,
 32801,
 32801,
 32800,
 32800,
 32799,
 32799,
 32749,
 32700,
 32700,
 32601,
 32601,
 32600,
 32600,
 32600,
 32600,
 32599,
 32500,
 32401,
 32401,
 32400,
 32400,
 32400,
 32400,
 32399,
 32399,
 32300,
 32201,
 32201,
 32200,
 32200,
 32200,
 32200,
 32200,
 32200,
 32021,
 32001,
 32000,
 32000,
 32000,
 32000,
 32000,
 32000,
 32000,
 32000,
 32000,
 32000,
 32000,
 31999,
 31901,
 31824,
 31801,
 31800,
 31800,
 31800,
 31799,
 31799,
 31701,
 31601,
 31600,
 31600,
 31600,
 31600,
 31599,
 31501,
 31402,
 31402,
 31401,
 31401,
 31400,
 31400,
 31400,
 31400,
 31400,
 31379,
 31300,
 31299,
 31299,
 31200,
 31200,
 31100,
 31021,
 31001,
 31001,
 31001,
 31001]

In [6]:
location=[]
loc=[]
for each in desc:
    x=each.split('from ')
    location.append(x[1])
for each in location:
    x=each.split('(')
    for each in x:
        y=each.split(')',1)
        for each in y:
            z=each.split(',')
            loc.append(z)

In [10]:
loca=pd.DataFrame(loc, columns=['city','state','other'])
win=pd.DataFrame(winnings, columns= ['amount'])
win
loca['amount']=win
loca['name']=pd.DataFrame(name, columns= ['name'])
loca['notes']=pd.DataFrame(desc, columns= ['notes'])
loca['games']=pd.DataFrame(games, columns= ['games'])
loca

,city,state,other,amount,name,notes,games
0,Salt Lake City,Utah,None,2522700.0,Ken Jennings,"a software engineer from Salt Lake City, Utah",94.0
1,Las Vegas,Nevada,None,2464216.0,James Holzhauer,"a professional sports gambler from Las Vegas, ...",33.0
2,Ridgewood,New Jersey,None,432400.0,David Madden,"a student originally from Ridgewood, New Jersey",29.0
3,Kenilworth,Illinois,None,429100.0,Julia Collins,"a supply chain professional from Kenilworth, I...",32.0
4,Washington,D.C.,None,413612.0,Matt Jackson,"a paralegal from Washington, D.C.",27.0
...,...,...,...,...,...,...,...
1027,Pataskala,Ohio,None,NaN,NaN,NaN,NaN
1028,St. Charles,Illinois,None,NaN,NaN,NaN,NaN
1029,Washington,D.C.,None,NaN,NaN,NaN,NaN
1030,Cleveland,Ohio,None,NaN,NaN,NaN,NaN
1031,Portland,Oregon,None,NaN,NaN,NaN,NaN

In [11]:
params = {"key": g_key}

# Loop through the cities_pd and run a lat/long search for each city
for index, row in loca.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    location= row['city']
    state= row['state']

    # update address key value
    params['address'] = f"{location},{state}"

    # make request
    cities_lat_lng = requests.get(base_url, params=params)
    
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(cities_lat_lng.url)
    
    # convert to json
    try:
        cities_lat_lng = cities_lat_lng.json()
        loca.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
        loca.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]
    except:
        print('N/A')
# Visualize to confirm lat lng appear
loca.head()

N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A
N/A

,city,state,other,amount,name,notes,games,Lat,Lng
0,Salt Lake City,Utah,None,2522700.0,Ken Jennings,"a software engineer from Salt Lake City, Utah",94.0,40.760779,-111.891047
1,Las Vegas,Nevada,None,2464216.0,James Holzhauer,"a professional sports gambler from Las Vegas, ...",33.0,36.171563,-115.139101
2,Ridgewood,New Jersey,None,432400.0,David Madden,"a student originally from Ridgewood, New Jersey",29.0,40.979264,-74.116531
3,Kenilworth,Illinois,None,429100.0,Julia Collins,"a supply chain professional from Kenilworth, I...",32.0,42.085862,-87.717561
4,Washington,D.C.,None,413612.0,Matt Jackson,"a paralegal from Washington, D.C.",27.0,38.907192,-77.036871

In [21]:
loca['Lat']=loca["Lat"].astype(str)
loca['Lng']=loca["Lng"].astype(str)
loca['location'] = loca['Lat'] + "," + loca['Lng']     
locat=loca[loca.Lat!="nan"]
df=locat.drop(columns='other')
df=df.dropna()
df2=df.head(200)
df2

,city,state,amount,name,notes,games,Lat,Lng,location
0,Salt Lake City,Utah,2522700.0,Ken Jennings,"a software engineer from Salt Lake City, Utah",94.0,40.7607793,-111.8910474,"40.7607793,-111.8910474"
1,Las Vegas,Nevada,2464216.0,James Holzhauer,"a professional sports gambler from Las Vegas, ...",33.0,36.171563,-115.1391009,"36.171563,-115.1391009"
2,Ridgewood,New Jersey,432400.0,David Madden,"a student originally from Ridgewood, New Jersey",29.0,40.9792645,-74.11653129999999,"40.9792645,-74.11653129999999"
3,Kenilworth,Illinois,429100.0,Julia Collins,"a supply chain professional from Kenilworth, I...",32.0,42.085862,-87.71756069999999,"42.085862,-87.71756069999999"
4,Washington,D.C.,413612.0,Matt Jackson,"a paralegal from Washington, D.C.",27.0,38.9071923,-77.0368707,"38.9071923,-77.0368707"
...,...,...,...,...,...,...,...,...,...
199,Santa Barbara,California,75000.0,John Ryan,"a student from Santa Barbara, California",8.0,34.4208305,-119.6981901,"34.4208305,-119.6981901"
200,Athens,Georgia,74701.0,Sara Wilkinson,"a country club concierge from Athens, Georgia",4.0,33.9519347,-83.357567,"33.9519347,-83.357567"
201,Brooklyn,New York,74601.0,Rob Liguori,"a research editor from Brooklyn, New York",5.0,40.6781784,-73.9441579,"40.6781784,-73.9441579"
202,New York,New York,74600.0,Jeff Goldfarb,"a recent law school graduate from New York, Ne...",3.0,40.7127753,-74.0059728,"40.7127753,-74.0059728"
203,Lexington,Kentucky,74583.0,Kermin Fleming,a junior at Carnegie Mellon University from Le...,6.0,38.0405837,-84.5037164,"38.0405837,-84.5037164"

In [22]:
df2.to_json("C:/Users/danie/Jeo-PARTY/static/js/location.json", orient='records')

In [19]:
import locationtagger
city=[]
state[]
for each in df['notes']:
    try:
        place_entity = locationtagger.find_locations(text = each)
        city.append(place_entity.cities)
        state.append(place_entity.states)
    except:
        print('N/A') 
    print(place_entity.cities)

['Salt Lake City']
['Las Vegas', 'Nevada']
['Ridgewood']
['Kenilworth']
['Washington']
['New York']
['Broadview Heights', 'Ohio']
['Chicago']
['Washington', 'Seattle']
['Newark', 'Delaware']
['California', 'El Cerrito']
['Highland Park']
['Somerville']
['Minneapolis']
['Washington']
['Austin']
['Steamboat Springs', 'Colorado']
['Florence']
['Amherst', 'Ohio']
['Boston']
['Los Angeles', 'California']
['North Little Rock', 'North']
['Minneapolis']
['New York', 'Brooklyn']
['Moscow']
['Chicago']
['Milan', 'Michigan']
['New York', 'South Dayton']
['Charlotte']
['Mount Airy']
['Manchester', 'New Hampshire']
['Aurora', 'Colorado']
['St. Louis']
['New York', 'Amherst']
['Ohio']
['Eastpointe', 'Michigan']
['Berwyn']
['Buford']
['Minneapolis']
['Ohio']
['New York']
['Albuquerque']
['Las Vegas']
['Baltimore', 'Maryland']
['Edina']
['Orlando', 'Florida']
['Annapolis', 'Maryland']
['Durham', 'New Hampshire']
['Washington']
['Gillette']
['Malden']
['California', 'Studio City']
['Ohio', 'Boardman']
['State College']
['California', 'Santa Barbara']
['Louisville']
['Salt Lake City']
['Plano']
['Scranton']
['New York', 'Albany']
['Johns Creek']
['Arlington Heights']
['Torrance', 'California']
['California', 'Aliso Viejo']
['Oakland', 'California']
['Wilmington', 'Delaware']
['Tucson']
['Long Beach', 'California']
['Atlanta']
['Washington', 'Seattle']
['Burlington', 'Vermont']
['Washington']
['Leominster']
['New York', 'Homer']
['San Francisco', 'California']
['New York', 'Churchville']
['California', 'Studio City']
['Vermilion', 'Ohio']
['Macungie']
['Santa Monica', 'California']
['Ogden']
['Round Rock']
['California', 'Placentia']
['Beckley']
['Virginia', 'Newport News']
['Los Angeles', 'California']
['Austin']
['Ann Arbor', 'Michigan']
['Salt Lake City']
['Baltimore', 'Maryland']
['Boynton Beach', 'Florida']
['Bloomington']
['Tokyo']
[]
['Columbia', 'Maryland']
['Raleigh']
['New York', 'Flushing']
['Pittsburgh']
['New York', 'Fresh Meadows']
['Old Town', 'Maine']
['Pittsburgh']
['Grand Blanc', 'Michigan']
['Metairie', 'Louisiana']
['Atlanta']
['Calhoun']
['Cincinnati', 'Ohio']
['Portland', 'Oregon']
['Squamish', 'Canada']
['Chicago']
['Atlanta']
['Kinston']
['Chicago']
['Crawfordsville', 'Indiana']
['Boston']
['Newark', 'Delaware']
['Pasadena', 'California']
['Los Angeles', 'California']
['Perrysburg', 'Ohio']
['Los Angeles', 'California']
['Lancaster']
['Anchorage']
['Ohio']
['Jasper', 'Indiana']
['New York']
['Ann Arbor', 'Michigan']
['Washington']
['Boston']
['Portland', 'Oregon']
['Belcamp', 'Maryland']
['Austin']
['Virginia', 'Fredericksburg']
['Fort Worth']
['Peoria']
['Pomona', 'California']
['Los Angeles', 'California']
['New York', 'Brooklyn']
['Bethesda', 'Maryland']
['Plano']
['Kansas City']
['Atlanta']
['Regina', 'Canada']
['Los Angeles', 'California']
['Omaha']
['Los Angeles', 'California']
['Columbus', 'Ohio']
['Princeton']
['Denver', 'Colorado']
['Washington']
['Toronto', 'Ontario', 'Canada']
['Jamaica Plain', 'Jamaica', 'Plain']
['Cincinnati', 'Ohio']
['Chicago']
['Chicago']
['Hereford', 'Maryland']
['San Francisco', 'California']
['Philadelphia']
['Bedford']
[]
['Largo', 'Florida']
['California', 'Sherman Oaks']
['Concord', 'California']
['New Orleans', 'Louisiana']
['Sacramento', 'California']
['Northville', 'Michigan']
['Lakewood', 'Colorado']
['Negaunee', 'Michigan']
['Paducah']
['California', 'Redlands']
['Los Angeles', 'California']
['Red Oak']
['Muncie', 'Indiana']
['Virginia', 'Virginia Beach']
['Los Angeles', 'California']
['Medford']
['La Grange']
['Old Forge']
['New York']
['Columbia']
['Cleveland', 'Ohio']
['Washington']
['Toronto', 'Ontario', 'Canada']
['San Francisco', 'California']
['Okemos', 'Michigan']
['Erie']
['New York']
['Denver', 'Colorado']
['Houston']
['Newton']
['Oregon', 'Bend']
['Boca Raton', 'Florida']
['Mount Pleasant']
['Bonita Springs', 'Florida']
['Norman']
['Virginia', 'Reston']
['Louisville']
['California', 'Santa Barbara']
['Athens']
['New York', 'Brooklyn']
['New York']
['Lexington']
['Maryland']
['Chicago']
['Austin']
['Knoxville', 'Tennessee']
['New York', 'Queens']
['Washington']
['New York', 'Elmsford']
['Pittsburgh']
['Collinsville']
['Champaign']
['Decatur']
['Connellsville']
['Newport']
['Forest Park']
['Washington']
['Garner']
['Minneapolis']
['Poway', 'California']
['Portland', 'Oregon']
['Los Angeles', 'California']
['Huntsville', 'Nasa']
['California']
['Los Angeles', 'California']
['Los Angeles', 'California']
['Mitchellville', 'Maryland']
['New York', 'Walton']
['Alpharetta']
['Crittenden']
['Pittsburgh']
['Costa Mesa', 'California']
['Ontario', 'Ottawa', 'Canada']
['Chicago']
['Denver', 'Colorado']
['Wheaton']
['Phoenix']
['Bloomfield Hills', 'Michigan']
['Bowie', 'Maryland']
['Lexington']
['Silver Spring', 'Maryland']
['Gaithersburg', 'Maryland']
['New York', 'Albany']
['New York', 'Brooklyn']
['Chicago']
['New York']
['Los Angeles', 'California']
['Virginia', 'Charlottesville']
['Los Angeles', 'California']
['New York']
['Los Angeles', 'California']
['Vancouver']
['College Station']
['California', 'Inglewood']
['California', 'Berkeley', 'Boise', 'University']
['California', 'Rohnert Park']
['Austin']
['Mineral Point']
['Decatur']
['Notre Dame', 'University']
['Marietta']
['Hamden']
['Calgary', 'Canada']
['Pasadena', 'California']
['Miami', 'Florida']
['Sonora']
['Cleveland', 'Ohio']
['New York', 'Brooklyn']
['Yellowknife']
['Marietta']
['California', 'North Hollywood']
['Forney']
['Fort Collins', 'Colorado']
['New York']
['Ohio']
['Huntington Beach', 'California']
['Boston']
['Fishers', 'Indiana']
['Venice', 'California']
['Little Rock']
['Nashville', 'Tennessee']
['California', 'Mission Viejo']
['Morgantown']
['Tulsa']
['Swarthmore']
['San Francisco', 'California', 'South San Francisco']
['Easthampton']
['Cincinnati', 'Ohio']
['Boulder', 'Colorado']
['Lima', 'Peru']
['Frederick', 'Maryland']
['Virginia', 'Alexandria']
['Decatur']
['New York', 'West Islip']
['Prattville', 'English']
['Londonderry', 'New Hampshire']
['Washington']
['Pittsburgh']
['Ocracoke', 'English']
['New York', 'Staten Island']
['New Orleans', 'Louisiana']
['New York']
['Walkersville', 'Maryland']
['Costa Mesa', 'California']
['New York']
['Dubuque', 'Iowa']
['Florence']
['Austin']
['Salt Lake City']
['Virginia', 'McLean']
['Dublin', 'Ohio']
['Beaverton', 'Oregon']
['Live Oak', 'Florida']
['Havertown', 'English']
['California', 'Pacific Palisades']
['New York', 'New Paltz']
['Katy']
['Fayetteville']
['Virginia', 'Arlington']
['California', 'Palo Alto']
['Washington', 'Seattle']
['Cincinnati', 'Ohio']
['Lafayette', 'California', 'LaFayette']
['Ohio', 'Cleveland Heights']
['Champaign']
['Cambridge']
['Stockton', 'Iowa']
['Danvers']
['Lexington']
['Knoxville', 'Tennessee']
['Gainesville', 'Florida']
['San Francisco', 'California']
['Los Angeles', 'California']
['California']
['Tallahassee', 'Florida']
['California', 'West Hollywood']
['Honolulu']
['Elmhurst']
['New York']
['New York']
['Cleveland', 'Ohio']
['New York', 'Bayside']
['Prior Lake']
['Los Angeles', 'California']
[]
['Peachtree City']
[]
['Albuquerque']
['Virginia', 'Reston']
['Washington', 'Seattle']
[]
['San Diego', 'California']
['Washington']
['Berlin']
['Lincoln']
['Park Ridge']
['Eureka']
['Washington']
['New York', 'Brooklyn']
['Toronto', 'Canada']
['Westminster', 'Maryland']
['Oklahoma City']
['Madison']
['Burbank', 'California']
['Washington', 'Pullman']
['Wylie']
['Washington']
['Rockford', 'Spanish']
['Madison']
['Toronto', 'Ontario', 'Canada']
['San Diego', 'California']
['Somerset', 'English']
['Virginia', 'Alexandria']
['Cherry Hill']
['Providence']
['Park Ridge']
['Martinsburg']
['Phoenix']
['Trenton']
['Ellettsville', 'Indiana', 'English']
['California', 'Pebble Beach']
['New York', 'Pittsford']
['Bridgewater']
['New York', 'Mamaroneck']
[]
['Minneapolis']
['Syracuse', 'New York']
['Los Angeles', 'California']
['Virginia', 'McLean']
['Iowa City', 'Iowa']
['Madison', 'Indiana']
['Cumming']
['Minneapolis']
['Ontario', 'Mississauga', 'Canada']
['Virginia', 'Arlington']
['Woodlands']
['Los Angeles', 'California']
['Minneapolis']
['Coral Gables', 'Florida']
['Louisville']
['Orlando', 'Florida']
['St. Louis']
['Atlanta']
['Santa Monica', 'California']
['Virginia', 'Reston']

['Chicago']
['Bristol']
['New York']
['Pennington']
['California', 'Van Nuys', 'English']
['Nashville', 'Tennessee']
['Kansas City']
['Atlanta']
['Manchester', 'Vermont']
['Orlando', 'Florida']
['California', 'North Hills', 'English']
['Murfreesboro', 'Tennessee']
['California', 'Altadena']
['Boston']
['California', 'Stockton']
['Bethesda', 'Maryland', 'University']
['Sacramento', 'California']
['Philadelphia']
[]
['Carrollton']
[]
['Abiquiu']
['Lexington']
[]
['Washington', 'Vancouver']
['Vancouver', 'Canada']
['Lincolnshire']
['Burlington', 'Vermont']
['New York', 'Croton']
['Bethesda', 'Maryland']
['Kansas City']
['Toronto', 'Ontario', 'Canada']
['University']
['Carmel']
['Randolph']
['Stoughton']
['California', 'Berkeley']
['Toronto', 'Ontario']
['Los Angeles', 'California']
['Los Angeles', 'California']
['Elmhurst']
['Arlington Heights']
['New Orleans', 'Louisiana']
['Minneapolis']
['Austin']
['Pasadena', 'California']
['Gainesville']
['Los Angeles', 'California']
['Rockford']
['Grove City', 'Ohio']
['Hendersonville']
['Washington', 'Seattle']
['Wichita', 'Kansas']
['Washington', 'Vancouver']
['California', 'Temecula']
['Brentwood', 'California']
['Irvine', 'California']
['Gurnee']
['Bettendorf', 'Iowa']
['Honolulu']
['Secaucus']
[]
['Hatboro']
['Lexington']
['New York', 'Brooklyn']
['Jacksonville', 'Florida']
['Austin']
['California']
['Ontario', 'Ottawa', 'Canada']
['Newport Beach', 'California']
['Raleigh']
['Owatonna']
['Woodside', 'New York']
['New York', 'Albany']
['Denver', 'Colorado']
['New York', 'Sunnyside']
['Santa Monica', 'California']
['South Boston']
['New York', 'Fairport']
['New York']
['Tucson']
['Montclair']
['Palos Heights']
['Florida', 'Manalapan']
['Richardson']
['Hoover']
['Chicago']
['Antioch', 'California']
['Cumberland']
['Darien']
['Los Angeles', 'California']
['Santa Monica', 'California']
['Los Angeles', 'California']
['Rock Hill']
['Los Angeles', 'California']
['Arkadelphia']
['Waterford']
['Jacksonville', 'Florida', 'English']
['California']
['Somerville']
['Virginia', 'Virginia Beach']
['Dublin', 'Ireland']
['Carlisle']
['Tybee Island']
['Somerville']
['Toronto', 'Ontario', 'Canada']
['Iowa']
['Chicago']
[]
['Virginia', 'Virginia Beach']
['Jacksonville', 'Florida']
['Toronto', 'Ontario', 'Canada']
['Santa Clara', 'California']
['Fort Worth']
['West Lafayette', 'Indiana']
['Washington', 'Seattle']
['University']
['New York']
['Welcome', 'Maryland']
['Pittsburgh']
['San Antonio']
['Terre Haute', 'Indiana', 'English']
['Washington', 'Seattle']
['Wilmington']
['California', 'Thousand Oaks']
['San Jose', 'California']
['Verdun', 'Canada']
['San Diego', 'California']
['Montgomery Village', 'Maryland']
['Phoenix']
['Vermont', 'Wilder']
['New York', 'Port Jefferson Station']
['Lancaster', 'Ohio']
['Red Bank']
['Elgin']
['Dorchester']
['California', 'Lakeside']
['Washington']
['Fresno', 'California']
['Venice', 'California']
['New York', 'Waccabuc']
['California', 'Anaheim']
['Hightstown']
['Malden']
['Dunlap', 'Tennessee']
['Washington']
['Downey', 'California']
['Atlanta']
['California', 'Monrovia']
['Sacramento', 'California']
['Watertown']
['Austin']
['Boyertown']
['California', 'Encinitas']
['Rose Valley']
['Virginia', 'Springfield']
['Birmingham', 'Michigan']
['Concord', 'California']
['Portland', 'Oregon']
['Baltimore', 'Maryland']
['El Dorado']
['South Orange']
['Atlanta']
['Coventry']
['Chicago']
['McLeansville']
['Higganum']
['Virginia', 'Falls Church']
['New York', 'Albany']
['Pittsburgh']
['Notre Dame', 'University']
['New Orleans', 'Louisiana']
['California', 'Napa']
['Lexington']
['Raleigh']
['San Antonio']
['Glendale']
['Annapolis', 'Maryland']
['Des Moines', 'Iowa', 'English']
['New York', 'Rye']
['Johnson City', 'Tennessee']
['Burlington', 'Vermont']
['Birmingham', 'Pinson', 'University']
['California', 'Whittier']
['Monroeville']
['Washington']
['Oakland', 'California']
['New York', 'Bethpage']
['Grand Island']
['Brookfield']
['Baltimore', 'Maryland']
['Wilmington', 'Delaware']
['Arlington']
['Cloud']
['Los Angeles', 'California']
['Marietta']
['New York', 'Fishkill']
['Rogers', 'English']
['Houston']
['Madison', 'St. Louis']
['Washington', 'Lacey']
['Kyle']
['Tustin', 'California']
['Los Angeles', 'California']
['Washington']
['Deer Park']
['New York', 'Champlain']
['New York']
['New Bedford']
['Columbia']
['Washington', 'Bellevue']
['Denver', 'Colorado']
['Orlando', 'Florida']
['Los Angeles', 'California']
['Iowa City', 'Iowa']
['New York']
['Florida', 'Plantation']
['Dallas']
['Asheville']
['Provo']
['Tiffin', 'Ohio']
['Lansing', 'Kansas']
['New York']
['Virginia', 'Alexandria']
['Virginia', 'Alexandria']
[]
['Silver Spring', 'Maryland']
['Macon']
['Declo']
['Durham']
['Virginia', 'Arlington']
['Little Rock']
['Harleysville']
['Boca Raton', 'Florida']
['Greenwich']
[]
['Pasadena', 'California']
['New York', 'Somers']
['Omaha']
['San Antonio']
['Huntington Beach', 'California']
['California', 'West Hollywood']
['California', 'Berkeley']
['Oregon', 'Canyonville']
['Philadelphia']
['Miami', 'Florida']
['Broken Arrow']
['New York', 'Buffalo']
['Boyds', 'Maryland']
['New London']
['New York', 'Brooklyn']
['New York', 'Brooklyn']
['Wilmington']
['Potomac', 'Maryland']
['Washington']
['Galesburg']
['Silver Spring', 'Maryland']
['West Lafayette', 'Indiana']
['Elkhart', 'Indiana']
['Tucson']
['Los Angeles', 'California']
['Cambridge']
['Maumelle']
['Mountain View', 'California']
['Tucson']
['Huntsville']
['Toledo', 'Ohio', 'English']
['Charleston']
['Poway', 'California']
['Walnut Creek', 'California']
['Chicago']
['Atlanta']
['Bakersfield', 'California']
['Florida']
['Safety Harbor', 'Florida']
['Oxford', 'English']
['Cary']
['California', 'North Hollywood']
['Chicago']
['Chicago']
['Albuquerque']
['California', 'Canoga Park']
['Norcross']
['New York']
['St. Louis']
['New York', 'Queens']
['New York']
['St. Paul']
['Rock Hill']
['Oregon']
['Sioux Falls']
['Houston']
['New York']
['New York']
['Austin']
['Savannah']
['New York']
['Washington']
['California', 'Westlake Village']
['Brooklyn', 'Michigan']
['Washington']
[]
['Virginia', 'Vienna']
['Florence']
['California', 'Hayward', 'Spanish']
['New York', 'Brooklyn']
['Savannah']
['Austin']
['Los Angeles', 'California']
[]
['Richardson']
['Moscow']
['Auburn', 'English']
['Savannah']
['Colorado Springs', 'Colorado']
['Bethlehem']
['Madison']
['Jackson', 'Michigan']
['Hyde Park']
['New York', 'Brooklyn']
['Los Angeles', 'California']
['Marietta']
['Orlando', 'Florida']
['New York', 'Brooklyn']
['New York', 'Brooklyn']
[]
['Martin', 'Tennessee']
['Gainesville', 'Florida']
['San Francisco', 'California']
['Kansas City']
['Chicago']
['San Antonio']
['West Palm Beach', 'Florida']
['Sarasota', 'Florida']
['Weymouth']
['San Mateo', 'California']
['Grayson']
['Pasadena', 'California']
['Chicago Heights']
['West Newton']
['Gilberts']
['California', 'Aromas']
['Bedford', 'New York']
['Wilmington']
['Washington', 'Gig Harbor']
['Vancouver']
['Wilmington', 'Delaware']
['Lexington']
['Avon Lake', 'Ohio']
['Washington', 'Seattle']
['Atlanta']
['Barrington']
['California', 'Goleta']
['Cedar Rapids', 'Iowa']
['Lake Elsinore', 'California']
['California', 'Van Nuys']
['Mountain View', 'California']
['Smyrna']
['Saint Jo']
['Chicago']
[]
['Virginia', 'Lynchburg']
['Virginia', 'Arlington']
['Norwood']
['Lafayette', 'Indiana', 'LaFayette']
['Champaign']
['Georgetown']
['New Orleans', 'Louisiana']
['New York', 'Brooklyn']
['Oceanside', 'California']
['Fort Collins', 'Colorado']
['Lewisburg']
['San Mateo', 'California']
['North Wales']
['Santa Monica', 'California']
['Perry', 'Kansas']
['New York', 'Jamesville']
['Odenton', 'Maryland']
['Irvine', 'California']
['Virginia', 'Fairfax']
['Naperville']
['Louisville', 'English']
['East Point']
['Newton']
['Bethesda', 'Maryland']
['Ohio']
['Philadelphia']
['Oak Park']
['Barnegat']
['Miami', 'Florida']
['Middletown']
['Baton Rouge', 'Louisiana']
['Miami', 'Florida']
['California', 'Santa Barbara']
['Winston-Salem']
['Baton Rouge', 'Louisiana']
['Lexington']
['Lakewood', 'Ohio']
['Raymore']
['Louisville']
['Fort Myers', 'Florida']
['Burbank', 'California']
['Virginia', 'Fairfax']
['Naperville']
[]
['Ontario', 'Waterloo', 'Canada']

['Fort Worth']
['Hilliard', 'Ohio']
['Cincinnati', 'Ohio']
['St. Paul']
['Oak Ridge', 'Tennessee']
['New York']
['Boston']
['Los Angeles', 'California']
['Atlanta']
['Virginia', 'Norfolk']
['Washington', 'Seattle']
['Decatur']
['Cincinnati', 'Ohio']
['New Orleans', 'Louisiana']
['New York', 'White Plains']
['New York', 'Lockport']
['Cranston']
['California', 'Ventura']
['Douglasville']
['Fremont', 'California']
['New York', 'Sunnyside']
['Westminster', 'Maryland']
['East Lansing', 'Michigan']
['McAlester']
['Prairie Village', 'Kansas']
['California', 'Palo Alto']
['Sharon']
['California', 'Twentynine Palms']
['Arnold']
['Epping', 'New Hampshire']
['Washington', 'Seattle']
['Woodhaven', 'Michigan']
['Grinnell', 'Iowa']
['California', 'Simi Valley']
['Silver Spring', 'Maryland']
['Millersville', 'Maryland']
['California', 'Altadena']
['Chicago']
['Birmingham']
['Mount Laurel']
['Virginia', 'Arlington']
['Highland Park']
['New York']
['California', 'Pacifica']
['Virginia', 'Midlothian']
['Mansfield']
['Miami', 'Florida']
['Ballwin']
['Brandon', 'Vermont']
['New York']
['Florida', 'Rockledge']
['Ellicott City', 'Maryland']
['Boston']
['New York']
['Grand Rapids', 'Michigan']
['Boston']
['Chattanooga', 'Tennessee']
['Orlando', 'Florida']
['Cherry Hill']
['Plano']
['Oak Ridge']
['Tampa', 'Florida']
['Steeleville']
['Uppsala']
['California']
['Mount Ephraim']
['Decatur', 'English']
['Washington', 'Seattle']
['Virginia', 'Norfolk']
['Los Angeles', 'California']
['Vancouver', 'Canada']
['Struthers', 'Ohio']
['Cleveland', 'Ohio']
['Hudson', 'Ohio']
['Kansas', 'Fort Scott']
['Corpus Christi']
['Ohio', 'Cleveland Heights']
['Ann Arbor', 'Michigan']
['Harrisburg']
['New York', 'New Rochelle']
['Rochester', 'New York']
['Los Angeles', 'California']
['Austin']
['Mount Ida']
['Madison']
['Mesquite', 'English']
['East Longmeadow']
['Philadelphia']
['Virginia', 'Burke']
['Virginia', 'Arlington']
['Plano']
['Germantown', 'Maryland']
['Minneapolis']
['St. Louis']
['Los Angeles', 'California']
['Virginia', 'Fairfax']
['Mount Ephraim']
['St. Louis']
[]
['Marietta']
['Washington']
['Concord', 'California']
['New Orleans', 'Louisiana']
['Goldsboro']
['New York', 'Baldwinsville']
['California', 'Piedmont']
['Beaumont']
['Washington', 'Kettle Falls']
['Slippery Rock']
['New York']
['Boston']
[]
['Lithia Springs']
['Woodland Hills', 'California']
['California', 'Altadena']
['Knoxville', 'Tennessee']
['Detroit', 'Michigan']
['San Francisco', 'California']
['Baltimore', 'Maryland']
['Oregon', 'Reedsport']
['New York', 'Smithtown', 'English']
['Baton Rouge', 'Louisiana']
['New York']
['Houston']
['Atlanta']
['Norway']
['Marysville', 'Ohio']
['Milton']
['San Diego', 'California']
['Bagdad']
['Pataskala', 'Ohio']
['St. Charles']
['Washington']
['Cleveland', 'Ohio']
['Portland', 'Oregon']