# Create a postgres db named 'jeoparty'
#### run sql script found in the same folder as this notebook
#### no capital letters, postgress doesn't like that

In [2]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.5-cp37-cp37m-macosx_10_15_x86_64.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 2.6 MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.5
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
contestant_file = "../Resources/contestants1000.json"

In [5]:
contestant_file

'../Resources/contestants1000.json'

In [6]:
player_df = pd.read_json(contestant_file, orient='values')['data']

In [7]:
player_df = pd.json_normalize(player_df).set_index('id') 
player_df.index.names = ['contestant_id']

In [8]:
player_df.index.names = ['contestant_id']

In [9]:
player_df

,name,notes,games_played,total_winnings
contestant_id,,,,
208,Ken Jennings,"a software engineer from Salt Lake City, Utah",94,2522700
75,James Holzhauer,"a professional sports gambler from Las Vegas, ...",33,2464216
204,David Madden,"a student originally from Ridgewood, New Jersey",29,432400
220,Julia Collins,"a supply chain professional from Kenilworth, I...",32,429100
209,Matt Jackson,"a paralegal from Washington, D.C.",27,413612
...,...,...,...,...
8843,J.J. Todor,"a law student from Pataskala, Ohio",9,31021
4192,Neel Varde,"a food scientist from St. Charles, Illinois",2,31001
1496,Erin Bowers,"a patent examiner from Washington, D.C.",2,31001
3210,Sean Hansen,an assistant professor of management informati...,2,31001
3757,Genaro Lopez,"a contract administrator from Portland, Oregon",2,31001

In [23]:
connection_string = "postgres:_____!@localhost:5432/jeoparty"
engine = create_engine(f'postgresql://{connection_string}')

In [24]:
# Confirm tables
engine.table_names()

/Users/tobiadel/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['contestants']

In [26]:
player_df.to_sql(name='contestants', con=engine, if_exists='append', index=True)