# READ THIS BEFORE RUNNING THIS NOTEBOOK.
## Create a Postgres DB Named 'jeoparty'
1. Use pgAdmin to create a postgres database named 'jeoparty'.
2. Run the sql script found in 'jeo_tables.sql' in the 'jeoparty' query tool.
 - This file is found in the same folder as this notebook. 
 - This will create the table to be populated by data pulled from the json file.
 - No capital letters will be used in the naming of the table, table columns or dataframe columns
 - postgres has issues with capital letters
3. Add your pgAdmin username and password to the 'jeoparty_passwords.py' file before running any cells in this workbook.
 - This file is also found in the same folder as this notebook.
 - These values have been defaulted to 'postgres' for both values in the 'jeoparty_passwords.py' file in the repository

In [1]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine
from jeoparty_passwords import jeo_username
from jeoparty_passwords import jeo_password

In [2]:
# JSON file containing information for Jeopardy! questions from jQuery.
question_file = "../static/js/cleanedJeoQs.json"

In [3]:
#Read JSON into the dataframe using pandas.read_json.
question_df = pd.read_json(question_file, orient='values')
question_df.head(3)

,show_number,air_date,round,category,value,question,answer
0,4576,6/28/2004,Double Jeopardy!,BEFORE & AFTER,400,1980 scarefest in which mom & daughter switch ...,Freaky Friday the 13th
1,4576,6/28/2004,Double Jeopardy!,BEFORE & AFTER,800,Leif Ericson's dad who was a huge star with lo...,Erik the Red Giant
2,4576,6/28/2004,Double Jeopardy!,BEFORE & AFTER,1200,Fictional girl sleuth who's the granddaughter ...,Nancy Drew Barrymore

In [4]:
#Rename the index "question_id"
question_df.index.rename("question_id", inplace = True)

In [11]:
#Visually inspect dataframe
question_df.head(10)

,show_number,air_date,round,category,value,question,answer
question_id,,,,,,,
0,4576,6/28/2004,Double Jeopardy!,BEFORE & AFTER,400,1980 scarefest in which mom & daughter switch ...,Freaky Friday the 13th
1,4576,6/28/2004,Double Jeopardy!,BEFORE & AFTER,800,Leif Ericson's dad who was a huge star with lo...,Erik the Red Giant
2,4576,6/28/2004,Double Jeopardy!,BEFORE & AFTER,1200,Fictional girl sleuth who's the granddaughter ...,Nancy Drew Barrymore
3,4576,6/28/2004,Double Jeopardy!,BEFORE & AFTER,1600,Projection at the southern tip of South Americ...,Cape Horn o' Plenty
4,4576,6/28/2004,Double Jeopardy!,BEFORE & AFTER,2000,"""Lethal Weapon"" director whose group was caugh...",the Richard Donner Party
5,5173,2/21/2007,Jeopardy!,BEFORE & AFTER,200,"""Thin"" piece of disputed Israeli-Palestinian l...",Gaza Strip Poker
6,5173,2/21/2007,Jeopardy!,BEFORE & AFTER,400,Film legend who became an 1823 edict against E...,the Marilyn Monroe Doctrine
7,5173,2/21/2007,Jeopardy!,BEFORE & AFTER,600,"""Bouncy"" 1965 Beatles album that took over for...",Rubber Soul Train
8,5173,2/21/2007,Jeopardy!,BEFORE & AFTER,1000,"Robert E. Lee's ""right arm"" general who sang ""...",Stonewall Jackson 5
9,5173,2/21/2007,Jeopardy!,BEFORE & AFTER,1000,"1935 ""lunar"" Florida song that turned into an ...","""Moon Over Miami Vice"""

In [6]:
# Create Connection to 'jeoparty' postgres database
# This connection string will use information from the 'jeoparty_passwords.py' file.
connection_string = f"{jeo_username}:{jeo_password}@localhost:5432/jeoparty"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
# Confirm appropriate table names exist.
engine.table_names()

/var/folders/_v/q5hgp4y91q79zfpg0c6yckfm0000gn/T/ipykernel_3670/1246274019.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['contestants', 'categories', 'questions']

In [10]:
#Append data in dataframe to 'questions' table
question_df.to_sql(name='questions', con=engine, if_exists='append', index=True)

228